<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Exercice01_ServletData</servlet-name>
        <servlet-class>Exercice01.Exercice01_ServletData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletTraitement01</servlet-name>
        <servlet-class>Exercice02.ServletTraitement01</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletTraitement02</servlet-name>
        <servlet-class>Exercice02.ServletTraitement02</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletChoixSapin</servlet-name>
        <servlet-class>Exercice03.ServletChoixSapin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraitementDonnees</servlet-name>
        <servlet-class>Exercice04.TraitementDonnees</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Exercice01_ServletData</servlet-name>
        <url-pattern>/Exercice01_ServletData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletTraitement01</servlet-name>
        <url-pattern>/Traitement01</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletTraitement02</servlet-name>
        <url-pattern>/Traitement02</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletChoixSapin</servlet-name>
        <url-pattern>/ChoixSapin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraitementDonnees</servlet-name>
        <url-pattern>/TraitementDonnees</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
